
<form id='myForm' class="autoform" enctype='multipart/form-data' action="{{ .url }}">
    {{ range .input_groups }}
        {{ partial "form-input.html" . }}
    {{ end }}
    <div class="mb-3">
      <input id="submit-btn" class="btn btn-primary" type="submit" value="Submit" />
    </div>
</form>

<template id='alertTemplate'>
  <div class="alert alert-dismissible fade show" role="alert">
    <div class='textarea'>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Dismiss Alert"></button>
  </div>
</template>
<div id='infoArea'></div>