<div class="mb-3">
  <div class='input-group'>
    {{ if ne .type "hidden" }}
    <span class='col-4 input-group-text text-center'>{{ .user_text }}</span>
    {{ end }}
    {{ range .inputs }}
        {{ if eq .type "select" }}
            <select  class="form-select"
            name="{{ .name }}"
            {{ if .aria_label }} aria-label="{{ .aria_label }}"{{ end }}
            {{ .attrs | safeHTMLAttr }}>
            {{ range .options }}
                <option value="{{ .value }}" {{if .default}}selected="true"{{ end }}>{{ .text }}</option>
            {{ end }}
            </select>
        {{ else }}

            <input class="form-control" 
            type="{{ .type }}" 
            name="{{ .name }}" 
            value="{{ .default }}" 
            {{ if .aria_label }} aria-label="{{ .aria_label }}"{{ end }} 
            {{ .attrs | safeHTMLAttr }}>
        {{ end }}
    {{ end }}
  </div>
</div>