

{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}
{{ $displaySidebar := false }}
{{ range .Site.Params.mainSections }}
{{ if eq $.Section . }}
{{ $displaySidebar = true }}
{{ end }}
{{ end }}
{{ if $displaySidebar }}page-default-list{{else}}page-home{{ end }}{{ end }}
{{ define "header_classes" }}{{ end }}
{{ define "main" }}
{{ $displaySidebar := false }}
{{ range .Site.Params.mainSections }}
{{ if eq $.Section . }}
{{ $displaySidebar = true }}
{{ end }}
{{ end }}
 
{{ if $displaySidebar }}
<h1 class="title">{{ .Title }}</h1>
<div class="content">
  {{ .Content }}
</div>
{{ else }}
<div class="strip">
  <div class="container pt-1">
    <div class="row">
      <div class="col-12">
        <h1 class="title">{{ .Title }}</h1>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ if .Params.form }}
{{ with index .Site.Data .Params.form }}
<div class="strip">
  <div class="container pt-1">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        {{ partial "form.html" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}

{{ range.Pages }}
{{ .Render "summary" }}
{{ end }}

{{ end }}

{{ define "footer_js" }}
  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ (resources.Get "js/custom-form.js").RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ (resources.Get "js/custom-form.js" | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}
